.Durer {
  float:left;
  width: 190px;
  height:120px;
  margin: 5px;
}

.building {
  width: 133px;
  height:134px;
  float: right;

}

.Toni{
  height:160px;
  width:120px;
  float:right;
  border:1px;
}

.road{
  width:180px;
  height:120px;
  float:right;


}


.panel-heading1{
  background-color: #CEF2E0;
}


.panel-body1{
  background-color: #f5fffa;
  /* background-color: #CEF2E0; */
}

.panel-body2{
  background-color: #f5faff;
}

.panel-heading2{
  background-color: #CEDFF2;
}


.panel-heading3{
  background-color: #ddcef2;
}

.panel-body3{
  background-color: #faf5ff;
  /* background-color: #CEF2E0; */
}

.bird {
  float:left;
  width: 350px;
  height:350px;
  padding-right: 40px;

}

.panel-body3 p{
  justify-content: center;
  margin: 7px;
  font-size: 14px;
}

.jumbotron h1{
  font-size: 162%;
}

.pretty{
  color:blue;
}

.jumbotron p{
  font-size: 12px;
}

.cute{
  font-size: 14px
}

.jumbotron ul{
  float:right;
  color: blue;
  font-size:12px;
}
